*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html,body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    padding: 16px;
    gap: 64px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 0, 0);
    height: 400px;
    width: 400px;
    
}
.squarediv{
  
    background-color: red;
}
button{
    margin: 20px;
    padding: 4px;
}
.main{
    display: flex;
    
}
.sidebar  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
h1{
    font-weight: bold;
    font-size:32px;
    padding: 16px;
    border: 4px solid black;
}